body {
    font-family: Arial, sans-serif;
  }
  
  .quiz-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #f19494;
    border-radius: 5px;
  }
  
  .question {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .options {
    margin-bottom: 20px;
  }
  
  #result {
    margin-top: 20px;
    font-weight: bold;
  }
  